.App {
    text-align: center;
}

.App video {
    /* override other styles to make responsive */
    width: 100%;
    height: 420px;
    object-fit: cover;
}


.DASHPlayer, .HLSPlayer, .LivePlayer {
    width: 100%;
    background: black;
    color: white;
}



